body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('E:/projekty git 1/ai-uni-lab/lab2/pictures/background.jpg');
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.task-input {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

input[type="text"],
input[type="datetime-local"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex-grow: 1;
}

button {
    padding: 10px;
    background-color: #0bb159;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto; 
    margin-top: 10px; 
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.task-item input {
    flex-grow: 1;
    border: none;
    background: transparent;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333;
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#search-bar {
    width: 90%; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; 
    background-color: #f8f8f8; 
    color: #333; 
    margin: 0 auto;
    display: block;
}

.delete-task-btn {
    background-color: rgb(184, 76, 40);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-task-btn:hover {
    opacity: 0.8;
}

#add-task-btn {
    background-color: rgb(92, 118, 57);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px; 
}

#add-task-btn:hover {
    opacity: 0.8;
}

.save-task-btn {
    background-color: rgb(215, 117, 26);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.save-task-btn:hover {
    opacity: 0.8;
}

.highlight {
    background-color: rgb(255, 215, 55);  
    font-weight: bold;          
}
